config.xml
Zend
Smarty
/nbproject/
.idea
/data/searchindex/*
/data/temp/templates-compiled/*
/data/uploads/*
!/data/uploads/searchindex
/atlassian-ide-plugin.xml
/tests/vendor/
/composer.phar
/tests/behat.phar
/tests/composer.phar
/tests/bin/phpunit.bat
/tests/bin/behat
/tests/bin/behat.bat
/tests/bin/pdepend
/tests/bin/pdepend.bat
/tests/bin/phpcbf
/tests/bin/phpcbf.bat
/tests/bin/phpcs
/tests/bin/phpcs.bat
/tests/bin/phpmd
/tests/bin/phpmd.bat
/tests/bin/phpunit
/tests/bin/webunit.bat
/tests/bin/webunit
