/composer.phar
/atlassian-ide-plugin.xml
.idea
vendor
/src/bin/phpunit.bat
/src/bin/behat
/src/bin/behat.bat
/src/bin/pdepend
/src/bin/pdepend.bat
/src/bin/phpcbf
/src/bin/phpcbf.bat
/src/bin/phpcs
/src/bin/phpcs.bat
/src/bin/phpmd
/src/bin/phpmd.bat
/src/bin/phpunit
/src/bin/webunit.bat
/src/bin/webunit
/data/config.xml
/composer.lock
log
